div._loading_overlay_wrapper {
    position: unset;

    ._loading_overlay_overlay {
        z-index: 1000000;
    }
}

.manage-patient-container {
    .m-p-title {
        font-size: 20px;
        margin: 10px 0;
        text-align: center;
        text-transform: uppercase;

    }

    .manage-patient-body {
        padding: 0 20px;

        .form-group {
            font-size: 18px;
        }

        .table-manage-patient {

            table,
            th,
            td {
                border: 1px solid #cacaca;
                border-collapse: collapse;
            }

            th {
                padding: 5px;
                text-align: left;
                color: white;
                background: #0071ba;
            }

            button {
                border: none;
                outline: none;
                cursor: pointer;
            }

            .mp-btn-confirm {
                margin-right: 10px;
                height: 30px;
                border-radius: 3px;
                background: orange;
            }

            .note {
                color: blue;
                font-size: 20px;
                font-weight: 50px;
            }

        }
    }
}