.manage-schedule-container {
    .m-s-title {
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 30px;
        color: blue;
        font-weight: bold;
        font-size: 25px;
        text-align: center;

    }

    .container {
        .row {
            .from-group {
                font-size: 18px;

                label {
                    font-size: 20px;
                }

                input {
                    font-size: 18px;
                }
            }
        }
    }

    .pick-hour-container {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        button {
            padding: 5px 15px;
            border: 1px solid grey;

            &:hover {
                background-color: rgb(237, 233, 3);
            }
        }
    }

    .btn-schedule {
        &.active {
            background-color: orange;
        }
    }

    .btn-save-schedule {
        margin-top: 20px;
        font-size: 20px;
        border: 1px solid rgb(3, 3, 193);

        &:hover {
            background-color: rgb(3, 18, 224);
        }
    }

    .table-schedule {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 15px;

        .time-title {
            font-size: 20px;
            font-weight: bold;
            color: blue;
        }

        .time-content {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 15px;

            .time-content-btns {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 15px;

                button {
                    border: 1px solid orange;
                    outline: none;
                    border-radius: 5px;
                }

            }
        }
    }
}