div._loading_overlay_wrapper {
    position: unset;

    ._loading_overlay_overlay {
        z-index: 1000000;
    }
}

.manage-patient-container {
    .m-p-title {
        font-size: 20px;
        margin: 10px 0;
        text-align: center;
        text-transform: uppercase;

    }

    .manage-patient-body {
        padding: 0 20px;

        .form-group {
            font-size: 18px;
        }

        .search {
            width: fit-content;
            height: 50px;
            display: flex;
            align-items: center;

            label {
                font-size: 20px;
                color: #000;
            }

            input {
                padding: 5px;
                height: 30px;
                width: 350px;
                // border: none;
                // outline: none;
            }

            .tim_kiem {
                color: white;
                background: orange;
                padding: 5px;
                border-radius: 3px;
                margin: 0 3px;
                cursor: pointer;

                &:hover {
                    background: rgb(38, 255, 0);

                }
            }

            .cap_nhat {
                color: white;
                background: blue;
                padding: 5px;
                border-radius: 3px;
                cursor: pointer;

                &:hover {
                    background: rgb(26, 255, 0);


                }
            }


        }

        .table-manage-patient {

            table,
            th,
            td {

                border: 1px solid #cacaca;
                border-collapse: collapse;

                &.btn-show-table-info {
                    text-align: center;
                    cursor: pointer;
                    font-size: 20px;

                    &:hover {
                        color: red;
                    }
                }
            }

            th {
                padding: 5px;
                text-align: left;
                color: white;
                background: #0071ba;
            }

            button {
                border: none;
                outline: none;
                cursor: pointer;
            }

            .mp-btn-confirm {
                margin-right: 10px;
                height: 30px;
                border-radius: 3px;
                background: orange;
            }

            .note {
                color: blue;
                font-size: 20px;
                font-weight: 50px;
            }

        }
    }
}

.table-info {
    width: 100%;
    padding: 30px;
    background-color: white;

    .table-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        padding: 0px 20px;

        .table-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            b {
                font-size: 25px;
            }

            i {
                font-size: 30px;
                color: red;
                cursor: pointer;

                &:hover {
                    color: #000;
                }
            }
        }

        .table-tool {}

        .table-body {
            width: 100%;

            table {
                width: 100%;

                tbody {
                    tr {
                        border: 1px solid rgb(149, 146, 146);


                        td {
                            padding: 10px;

                            &.table-title {
                                font-size: 17px;
                                font-weight: bold;


                                &.center {
                                    text-align: center;
                                }
                            }
                        }
                    }

                    width: 100%
                }
            }
        }
    }
}

.medicine-plan-container {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 0px;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;

    .plan-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .plan-header-title {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            font-weight: bold;
            font-size: 25px;
            color: rgb(0, 0, 133);

            i {
                cursor: pointer;
                color: green;

                &:hover {
                    color: rgb(0, 194, 0);
                }
            }

        }

        .plan-header-btn {
            i {
                color: red;
                font-size: 30px;
                cursor: pointer;

                &:hover {
                    color: rgb(167, 0, 0);
                }
            }
        }
    }

    .plan-body {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;

        .plan-body-left {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 15px;

            .left-container {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;

                .left-title {
                    font-weight: bold;
                    font-size: 16px;
                    width: 15%;
                }

                .left-input {
                    width: 85%;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    span {
                        color: red
                    }

                    textarea {
                        width: 100%;
                        padding: 10px;
                        outline: none;
                        border: 1px solid rgba(0, 0, 0, 0.632);
                        border-radius: 10px;
                    }

                    input {
                        width: 95%;
                        padding: 10px;
                        outline: none;
                        border: 1px solid rgba(0, 0, 0, 0.632);
                        border-radius: 10px;
                    }

                    .new {
                        width: 5%;
                        padding-top: 5px;

                        i {
                            color: green;
                            font-size: 30px;
                            cursor: pointer;

                            &:hover {
                                color: rgb(0, 72, 0);
                            }
                        }
                    }
                }

                .list-medicine {
                    width: 100%;

                    table {

                        tbody {
                            tr {
                                border: 1px solid #cacaca;

                                td {
                                    padding: 10px;
                                    width: 600px;
                                    border-collapse: collapse;

                                    &.title {
                                        text-align: left;
                                        font-weight: bold;
                                        font-size: 17px;
                                        color: white;
                                        background-color: blue;

                                        &.max {
                                            width: 95%;
                                        }
                                    }

                                    i {
                                        padding: 0px 10px;
                                        cursor: pointer;

                                        &:hover {
                                            color: blue;
                                        }
                                    }

                                    &.min {
                                        width: 5%;
                                    }
                                }
                            }


                        }
                    }
                }
            }
        }

        .plan-body-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 20px;
            border-left: 1px dashed rgba(0, 0, 0, 0.501);

            .right-title {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                font-weight: bold;

            }

            .right-content {
                width: 100%;
                padding: 5px 0px;
                gap: 7px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;

                b {}

                span {}

                .descreption {
                    width: 85%;
                    height: auto;
                }
            }

            .table-medicine {
                margin-top: 10px;
                width: 100%;

                table {
                    width: 100%;

                    tbody {

                        tr {
                            border: 1px solid #cacaca;
                            width: 100%;

                            &:hover {
                                background-color: rgba(255, 0, 0, 0.586);
                                color: white;
                            }

                            cursor: pointer;

                            td {
                                padding: 10px;
                                width: 600px;
                                border-collapse: collapse;

                                &.title {
                                    text-align: left;
                                    font-weight: bold;
                                    font-size: 17px;
                                    color: white;
                                    background-color: blue;

                                    &.max {
                                        width: 60%;
                                    }
                                }

                                i {
                                    padding: 0px 10px;
                                    cursor: pointer;

                                    &:hover {
                                        color: blue;
                                    }
                                }

                                &.min {
                                    width: 40%;
                                }
                            }
                        }


                    }
                }
            }
        }
    }
}

.htu {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    padding-top: 40px;
    background-color: rgba(0, 0, 0, 0.478);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .htu-box {
        border-radius: 10px;
        padding: 20px;
        background-color: #fff;
        border: 1px solid rgb(226, 226, 226);
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 500px;

        .htu-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            b {
                font-size: 20px;
            }

            i {
                font-size: 30px;
                color: red;
                cursor: pointer;

                &:hover {
                    color: rgb(204, 0, 0);
                }
            }
        }

        .htu-body {
            width: 100%;
            display: flex;
            margin-top: 10px;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;

            b {
                width: 20%;
            }

            textarea {
                width: 80%;
                border: 1px solid rgba(0, 0, 0, 0.632);
                outline: none;
                border-radius: 10px;
                padding: 10px;
            }
        }

        .htu-footer {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-end;
            padding-top: 10px;

            .htu-btn {
                padding: 10px 30px;
                border-radius: 10px;
                background-color: #0071ba;
                color: white;
                border: 1px solid blue;
                cursor: pointer;

                &:hover {
                    background-color: #0099ff;

                }
            }
        }
    }
}